In [60]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
mark = pd.read_csv('new_marks.csv')
mark

,КодОбучения,НомерЛД,ПерваяПопытка,Итог,Пересдавал,Семестр,Дисциплина,КодПланыСтроки,Кафедра,Тип_Ведомости,Год
0,31127,10019,Отл,Отл,0,1,Оптимизирующее проектирование вычислительной т...,2091027.0,каф.ВТ,Экзамен,2023-2024
1,31127,10019,Хор,Хор,0,1,Цифровая обработка сигналов,2091013.0,каф.ВТ,Дифференцированный зачет,2023-2024
2,31127,10019,Удв,Удв,0,1,Безопасность жизнедеятельности,2090998.0,каф.БЖД,Дифференцированный зачет,2023-2024
3,31127,10019,Хор,Хор,0,1,Введение в искусственный интеллект,2091014.0,каф.ВТ,Экзамен,2023-2024
4,31127,10019,Хор,Хор,0,1,Введение в искусственный интеллект,2091014.0,каф.ВТ,К/работа,2023-2024
...,...,...,...,...,...,...,...,...,...,...,...
172196,48290,9990323,Н/я,Н/я,0,1,Иностранный язык,2098349.0,каф.ИНЯЗ,Дифференцированный зачет,2023-2024
172197,48290,9990323,Н/я,Н/я,0,1,"Зачет с оценкой по дисциплине ""Основы российск...",2106761.0,каф.ИКГП,Дифференцированный зачет,2023-2024
172198,48290,9990323,Н/я,Н/я,0,1,Инженерная графика,2098368.0,каф.ПМИГ,Дифференцированный зачет,2023-2024
172199,48290,9990323,Н/я,Н/я,0,1,Алгебра и геометрия,2098351.0,каф.АМ,Экзамен,2023-2024
172200,48290,9990323,Н/я,Н/я,0,1,Инженерная графика,2098368.0,каф.ПМИГ,К/работа,2023-2024

In [9]:
mark = mark[['НомерЛД', 'ПерваяПопытка', 'Семестр', 'Дисциплина', 'Кафедра', 'Тип_Ведомости']]

In [3]:
visits = pd.read_csv('visits.csv')
visits

,ID ЛК,ID Предмета,title,Сезон,Год,Всего занятий,Посещений (студ.),Посещений (стар.),Отметок (стар.),Посещений (преп.),Отметок (преп.),Посещений (СКУД),Отметок (СКУД)
0,213,51,Компьютерные технологии и моделирование в элек...,autumn,2023,16,10,10,10,10,10,12,16
1,213,59,Современные проблемы электроники (Problems of ...,autumn,2023,18,2,2,10,0,4,2,16
2,213,60,Современные проблемы электроники (Problems of ...,autumn,2023,16,2,2,12,0,0,2,16
3,213,78,Русский язык как иностранный (Russian as a For...,autumn,2023,2,2,0,0,0,0,2,2
4,213,210,Основы научных исследований (Foundations of Sc...,autumn,2023,18,2,2,12,2,10,2,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
453913,424749,4937,Экономика организации,autumn,2024,1,0,1,1,0,0,0,0
453914,424749,5074,Физкультура,autumn,2024,1,0,1,1,0,0,0,0
453915,424749,6327,Теоретические основы электротехники,autumn,2024,1,0,0,1,0,1,0,0
453916,424758,5863,Коммерциализация результатов научных исследова...,autumn,2024,1,0,0,0,0,0,0,0
453917,424758,6125,Военно-морская подготовка,autumn,2024,1,0,0,0,0,0,0,0

In [11]:
visits['Год'].unique()

array([2023, 2024], dtype=int64)

In [13]:
visits = visits[['ID ЛК', 'title', 'Сезон', 'Год', 'Посещений (СКУД)', 'Отметок (СКУД)']]

In [17]:
visits['visit'] = (visits['Посещений (СКУД)'] / visits['Отметок (СКУД)']).fillna(0)

C:\Users\romas\AppData\Local\Temp\ipykernel_9260\3630138299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  visits['visit'] = (visits['Посещений (СКУД)'] / visits['Отметок (СКУД)']).fillna(0)

In [19]:
visits = visits[['ID ЛК', 'title', 'Сезон', 'Год', 'visit']]

In [5]:
st = pd.read_csv('students.csv')
st

,ID ИОТ,ID ЛК,ДР,ID Обучения (ЛК),КодОбучения (Шахты),Зачетка,НомерЛД (Шахты),Иностранец,ID Группы,Группа,Курс,Учебный год,Срок обучения,Статус,Статус.1,Гражданство,Шифр специальность,Специальность,Уровень образования,Форма образования
0,23929,424241,NaN,41530,NaN,59811,305524,False,23672,598,1,2024-2025,2,NaN,NaN,NaN,20.04.01,Техносферная безопасность,Магистратура,Очная форма
1,1305,2340,1998-8-14,33827,44035.0,293504,4090316,False,22415,2935,2,2023-2024,3,Бюджет,Учащийся,РФ,2.3,Информационные технологии и телекоммуникации,Аспирантура,Очная форма
2,1308,9870,1999-7-10,37817,48052.0,393507,2220317,False,22416,3935,1,2023-2024,3,Бюджет,Учащийся,РФ,2.3,Информационные технологии и телекоммуникации,Аспирантура,Очная форма
3,1317,2313,1999-2-8,33828,44036.0,293702,3440316,False,22355,2937,2,2023-2024,3,Бюджет,Учащийся,РФ,1.2,Компьютерные науки и информатика,Аспирантура,Очная форма
4,1319,2314,1999-3-4,33843,44059.0,293703,1080316,False,22355,2937,2,2023-2024,3,Бюджет,Учащийся,РФ,1.2,Компьютерные науки и информатика,Аспирантура,Очная форма
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18625,20066,215,1989-2-18,18196,27673.0,430007,6680412,True,18042,4300,2,2019-2020,2,Контракт,Закончил,Гана,09.04.01,Информатика и вычислительная техника,Магистратура,Очная форма
18626,20067,697,1998-7-17,501,NaN,639202,4960316,False,18036,6392,4,2019-2020,4,Целевой прием,Закончил,РФ,27.03.04,Управление в технических системах,Бакалавриат,Очная форма
18627,20095,323653,1989-5-15,19098,28569.0,430012,585318,True,18042,4300,2,2019-2020,2,Контракт,Закончил,Египет,09.04.01,Информатика и вычислительная техника,Магистратура,Очная форма
18628,20097,374093,2001-12-11,20312,NaN,920409,1540219,False,18296,9204,1,2019-2020,4,Бюджет,Отчислен,РФ,11.03.04,Электроника и наноэлектроника,Бакалавриат,Очная форма
18629,23564,4829,1997-4-20,4648,16237.0,618227,150115,False,17899,6182,4,2019-2020,4,Бюджет,Закончил,РФ,11.03.02,Инфокоммуникационные технологии и системы связи,Бакалавриат,Очная форма

In [7]:
st = st[['ID ЛК', 'НомерЛД (Шахты)', 'Иностранец', 'Курс', 'Статус', 'Статус.1', 'Уровень образования', 'Форма образования']]

параметры модели
- номер студента (уникальный id), 
- финансирование (платная основа/бюджетная), 
- статус (учащийся, отчислен, академический отпуск), 
- форма образования (очная, очно-заочная, заочная), 
- процент посещения занятий, 
- тип ведомости (экзамен, дифференцированный зачет, курсовая, практика)
- кафедра, на которой преподается предмет

In [22]:
mark.head(3)

,НомерЛД,ПерваяПопытка,Семестр,Дисциплина,Кафедра,Тип_Ведомости
0,10019,Отл,1,Оптимизирующее проектирование вычислительной т...,каф.ВТ,Экзамен
1,10019,Хор,1,Цифровая обработка сигналов,каф.ВТ,Дифференцированный зачет
2,10019,Удв,1,Безопасность жизнедеятельности,каф.БЖД,Дифференцированный зачет

In [28]:
mark['ПерваяПопытка'] = mark['ПерваяПопытка'].map({'Отл': 5,
                           'Хор': 4, 
                           'Удв': 3, 
                           'Н/я': 2, 
                           'Зач': 5, 
                           'Неуд': 2, 
                           'Н/з': 2})

C:\Users\romas\AppData\Local\Temp\ipykernel_9260\4218606137.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mark['ПерваяПопытка'] = mark['ПерваяПопытка'].map({'Отл': 5,

In [29]:
mark

,НомерЛД,ПерваяПопытка,Семестр,Дисциплина,Кафедра,Тип_Ведомости
0,10019,5,1,Оптимизирующее проектирование вычислительной т...,каф.ВТ,Экзамен
1,10019,4,1,Цифровая обработка сигналов,каф.ВТ,Дифференцированный зачет
2,10019,3,1,Безопасность жизнедеятельности,каф.БЖД,Дифференцированный зачет
3,10019,4,1,Введение в искусственный интеллект,каф.ВТ,Экзамен
4,10019,4,1,Введение в искусственный интеллект,каф.ВТ,К/работа
...,...,...,...,...,...,...
172196,9990323,2,1,Иностранный язык,каф.ИНЯЗ,Дифференцированный зачет
172197,9990323,2,1,"Зачет с оценкой по дисциплине ""Основы российск...",каф.ИКГП,Дифференцированный зачет
172198,9990323,2,1,Инженерная графика,каф.ПМИГ,Дифференцированный зачет
172199,9990323,2,1,Алгебра и геометрия,каф.АМ,Экзамен
172200,9990323,2,1,Инженерная графика,каф.ПМИГ,К/работа

In [30]:
mark.to_csv('marks.csv', index=False, encoding='utf-8')

In [31]:
visits['visit'] = visits['visit'] * 100

C:\Users\romas\AppData\Local\Temp\ipykernel_9260\1156169901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  visits['visit'] = visits['visit'] * 100

In [52]:
visits.rename(columns={'title': 'Дисциплина'}, inplace=True)

C:\Users\romas\AppData\Local\Temp\ipykernel_9260\3703320295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  visits.rename(columns={'title': 'Дисциплина'}, inplace=True)

In [53]:
visits.head(3)

,ID ЛК,Дисциплина,Сезон,Год,visit
0,213,Компьютерные технологии и моделирование в элек...,autumn,2023,75.0
1,213,Современные проблемы электроники (Problems of ...,autumn,2023,12.5
2,213,Современные проблемы электроники (Problems of ...,autumn,2023,12.5

In [33]:
visits.to_csv('visits_coef.csv', index=False, encoding='utf-8')

In [37]:
st.rename(columns={'Статус': 'finans', 'Статус.1': 'status'}, inplace=True)

C:\Users\romas\AppData\Local\Temp\ipykernel_9260\1332313240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  st.rename(columns={'Статус': 'finans', 'Статус.1': 'status'}, inplace=True)

In [43]:
st.rename(columns={'НомерЛД (Шахты)': 'НомерЛД'}, inplace=True)

C:\Users\romas\AppData\Local\Temp\ipykernel_9260\1072524807.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  st.rename(columns={'НомерЛД (Шахты)': 'НомерЛД'}, inplace=True)

In [44]:
st.head(3)

,ID ЛК,НомерЛД,Иностранец,Курс,finans,status,Уровень образования,Форма образования
0,424241,305524,False,1,NaN,NaN,Магистратура,Очная форма
1,2340,4090316,False,2,Бюджет,Учащийся,Аспирантура,Очная форма
2,9870,2220317,False,1,Бюджет,Учащийся,Аспирантура,Очная форма

In [45]:
st.to_csv('student.csv', index=False, encoding='utf-8')

----

## Объединение таблиц

In [41]:
mark.head()

,НомерЛД,ПерваяПопытка,Семестр,Дисциплина,Кафедра,Тип_Ведомости
0,10019,5,1,Оптимизирующее проектирование вычислительной т...,каф.ВТ,Экзамен
1,10019,4,1,Цифровая обработка сигналов,каф.ВТ,Дифференцированный зачет
2,10019,3,1,Безопасность жизнедеятельности,каф.БЖД,Дифференцированный зачет
3,10019,4,1,Введение в искусственный интеллект,каф.ВТ,Экзамен
4,10019,4,1,Введение в искусственный интеллект,каф.ВТ,К/работа

In [46]:
st.head()

,ID ЛК,НомерЛД,Иностранец,Курс,finans,status,Уровень образования,Форма образования
0,424241,305524,False,1,NaN,NaN,Магистратура,Очная форма
1,2340,4090316,False,2,Бюджет,Учащийся,Аспирантура,Очная форма
2,9870,2220317,False,1,Бюджет,Учащийся,Аспирантура,Очная форма
3,2313,3440316,False,2,Бюджет,Учащийся,Аспирантура,Очная форма
4,2314,1080316,False,2,Бюджет,Учащийся,Аспирантура,Очная форма

In [47]:
st_mark = pd.merge(mark, st, how='left', on='НомерЛД')

In [50]:
st_mark.head(3)

,НомерЛД,ПерваяПопытка,Семестр,Дисциплина,Кафедра,Тип_Ведомости,ID ЛК,Иностранец,Курс,finans,status,Уровень образования,Форма образования
0,10019,5,1,Оптимизирующее проектирование вычислительной т...,каф.ВТ,Экзамен,375051.0,False,5.0,Контракт,Учащийся,Бакалавриат,Заочная форма
1,10019,4,1,Цифровая обработка сигналов,каф.ВТ,Дифференцированный зачет,375051.0,False,5.0,Контракт,Учащийся,Бакалавриат,Заочная форма
2,10019,3,1,Безопасность жизнедеятельности,каф.БЖД,Дифференцированный зачет,375051.0,False,5.0,Контракт,Учащийся,Бакалавриат,Заочная форма

In [54]:
visits.head(3)

,ID ЛК,Дисциплина,Сезон,Год,visit
0,213,Компьютерные технологии и моделирование в элек...,autumn,2023,75.0
1,213,Современные проблемы электроники (Problems of ...,autumn,2023,12.5
2,213,Современные проблемы электроники (Problems of ...,autumn,2023,12.5

In [105]:
#df = pd.merge(st_mark, visits, how='left', on=['ID ЛК', 'Дисциплина'])

visits_2023 = visits[visits['Год'] == 2023]
visits_2024 = visits[visits['Год'] == 2024]

merged_odd = pd.merge(st_mark[st_mark['Семестр'] % 2 != 0], visits_2023, how='inner', on=['ID ЛК', 'Дисциплина'])
merged_even = pd.merge(st_mark[st_mark['Семестр'] % 2 == 0], visits_2024, how='inner', on=['ID ЛК', 'Дисциплина'])

df = pd.concat([merged_odd, merged_even], ignore_index=True)

In [107]:
visits[visits['ID ЛК'] == 375210.0]

,ID ЛК,Дисциплина,Сезон,Год,visit
31941,375210,Радиоэлектронные системы и комплексы,autumn,2023,50.000000
31942,375210,Радиоэлектронные системы и комплексы,autumn,2023,33.333333
31943,375210,Функциональная электроника,autumn,2023,43.750000
31944,375210,Основы автоматизированного проектирования анте...,autumn,2023,50.000000
31945,375210,Основы автоматизированного проектирования анте...,autumn,2023,31.250000
31946,375210,Основы автоматизированного проектирования анте...,autumn,2023,88.888889
31947,375210,Устройства сверхвысоких частот,autumn,2023,25.000000
31948,375210,Оптическая связь и обработка информации,autumn,2023,88.888889
31949,375210,Устройства сверхвысоких частот,autumn,2023,25.000000
31950,375210,Функциональная электроника,autumn,2023,0.000000
31951,375210,Оптическая связь и обработка информации,autumn,2023,16.000000
31952,375210,Военно-морская подготовка,autumn,2023,0.000000
31953,375210,Цифровая обработка пространственно-временных с...,spring,2024,57.142857
31954,375210,Цифровая обработка пространственно-временных с...,spring,2024,57.142857
31955,375210,Цифровая обработка пространственно-временных с...,spring,2024,28.571429
31956,375210,Методы машинного обучения в цифровой обработке...,spring,2024,66.666667
31957,375210,Методы машинного обучения в цифровой обработке...,spring,2024,30.000000
31958,375210,Микроволновая техника,spring,2024,21.428571
31959,375210,Микроволновая техника,spring,2024,78.571429
31960,375210,Антенны сверхвысоких частот,spring,2024,0.000000
31961,375210,Антенны сверхвысоких частот,spring,2024,37.500000
31962,375210,Антенны сверхвысоких частот,spring,2024,50.000000
31963,375210,Военно-морская подготовка,spring,2024,0.000000

In [106]:
df

,НомерЛД,ПерваяПопытка,Семестр,Дисциплина,Кафедра,Тип_Ведомости,ID ЛК,Иностранец,Курс,finans,status,Уровень образования,Форма образования,Сезон,Год,visit
0,10119,4,9,Оптическая связь и обработка информации,каф.ТОР,Дифференцированный зачет,375210.0,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,autumn,2023,88.888889
1,10119,4,9,Оптическая связь и обработка информации,каф.ТОР,Дифференцированный зачет,375210.0,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,autumn,2023,16.000000
2,10119,2,9,Основы автоматизированного проектирования анте...,каф.ТОР,Экзамен,375210.0,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,autumn,2023,50.000000
3,10119,2,9,Основы автоматизированного проектирования анте...,каф.ТОР,Экзамен,375210.0,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,autumn,2023,31.250000
4,10119,2,9,Основы автоматизированного проектирования анте...,каф.ТОР,Экзамен,375210.0,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,autumn,2023,88.888889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286621,9960323,3,2,Физика,каф.Физики,Экзамен,419081.0,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,spring,2024,71.428571
286622,9960323,3,2,Физика,каф.Физики,Экзамен,419081.0,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,spring,2024,57.142857
286623,9960323,3,2,Физика,каф.Физики,Экзамен,419081.0,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,spring,2024,92.307692
286624,9960323,2,2,Математический анализ,каф.АМ,Экзамен,419081.0,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,spring,2024,71.428571
286625,9960323,2,2,Математический анализ,каф.АМ,Экзамен,419081.0,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,spring,2024,76.190476

In [89]:
df = df[df['Форма образования'] == 'Очная форма']

In [90]:
df = df[df['status'] == 'Учащийся']

In [99]:
df.isna().sum()

НомерЛД                  0
ПерваяПопытка            0
Семестр                  0
Дисциплина               0
Кафедра                245
Тип_Ведомости            0
ID ЛК                    0
Иностранец               0
Курс                     0
finans                   0
status                   0
Уровень образования      0
Форма образования        0
Сезон                    0
Год                      0
visit                    0
dtype: int64

In [92]:
df

,НомерЛД,ПерваяПопытка,Семестр,Дисциплина,Кафедра,Тип_Ведомости,ID ЛК,Иностранец,Курс,finans,status,Уровень образования,Форма образования,Сезон,Год,visit
5,10119,4,9,Оптическая связь и обработка информации,каф.ТОР,Дифференцированный зачет,375210.0,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,autumn,2023.0,88.888889
6,10119,4,9,Оптическая связь и обработка информации,каф.ТОР,Дифференцированный зачет,375210.0,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,autumn,2023.0,16.000000
7,10119,2,9,Основы автоматизированного проектирования анте...,каф.ТОР,Экзамен,375210.0,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,autumn,2023.0,50.000000
8,10119,2,9,Основы автоматизированного проектирования анте...,каф.ТОР,Экзамен,375210.0,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,autumn,2023.0,31.250000
9,10119,2,9,Основы автоматизированного проектирования анте...,каф.ТОР,Экзамен,375210.0,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,autumn,2023.0,88.888889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354379,9960323,4,2,Программирование,каф.АПУ,Экзамен,419081.0,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,spring,2024.0,20.000000
354380,9960323,4,2,Программирование,каф.АПУ,Экзамен,419081.0,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,spring,2024.0,66.666667
354381,9960323,4,2,Программирование,каф.АПУ,Экзамен,419081.0,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,spring,2024.0,57.142857
354382,9960323,2,2,Математический анализ,каф.АМ,Экзамен,419081.0,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,spring,2024.0,71.428571
354383,9960323,2,2,Математический анализ,каф.АМ,Экзамен,419081.0,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,spring,2024.0,76.190476

In [104]:
df[df['visit'].isna()]

Empty DataFrame
Columns: [НомерЛД, ПерваяПопытка, Семестр, Кафедра, Тип_Ведомости, Иностранец, Курс, finans, status, Уровень образования, Форма образования, Год, visit]
Index: []

In [98]:
df.to_csv('dataset.csv', index=False)

In [108]:
result = df.groupby(
    ['НомерЛД', 'ПерваяПопытка', 'Семестр', 'Дисциплина', 'Кафедра', 
     'Тип_Ведомости', 'ID ЛК', 'Иностранец', 'Курс', 
     'finans', 'status', 'Уровень образования', 'Форма образования', 'Сезон', 'Год'],
    as_index=False
)['visit'].mean()

**можено делить по**
- семестрам 1-2, 3-4
- по сезону осень-весна (179к и 180к)

In [100]:
df = df[['НомерЛД', 'ПерваяПопытка', 'Семестр', 'Кафедра', 'Тип_Ведомости', 'Иностранец', 'Курс', 'finans', 'status', 'Уровень образования', 'Форма образования', 'Год', 'visit']].copy()

In [103]:
df['Форма образования'].unique()

array(['Очная форма', 'Очно-заочная', 'Заочная форма'], dtype=object)

In [101]:
df

,НомерЛД,ПерваяПопытка,Семестр,Кафедра,Тип_Ведомости,Иностранец,Курс,finans,status,Уровень образования,Форма образования,Год,visit
0,10119,4,9,каф.ТОР,Дифференцированный зачет,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,2023,88.888889
1,10119,4,9,каф.ТОР,Дифференцированный зачет,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,2023,16.000000
2,10119,2,9,каф.ТОР,Экзамен,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,2023,50.000000
3,10119,2,9,каф.ТОР,Экзамен,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,2023,31.250000
4,10119,2,9,каф.ТОР,Экзамен,True,5.0,Бюджет,Учащийся,Специалитет,Очная форма,2023,88.888889
...,...,...,...,...,...,...,...,...,...,...,...,...,...
286621,9960323,3,2,каф.Физики,Экзамен,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,2024,71.428571
286622,9960323,3,2,каф.Физики,Экзамен,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,2024,57.142857
286623,9960323,3,2,каф.Физики,Экзамен,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,2024,92.307692
286624,9960323,2,2,каф.АМ,Экзамен,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,2024,71.428571
286625,9960323,2,2,каф.АМ,Экзамен,False,1.0,Контракт,Учащийся,Бакалавриат,Очная форма,2024,76.190476

In [ ]:
train =

In [ ]:
categorical_features = ['Кафедра', 'Тип_Ведомости', 'finans', 'status', 'Уровень образования', 'Форма образования']
encoder = OneHotEncoder(sparse=False)
X_cat = encoder.fit_transform(data[categorical_features])

### делим выборку на тренировочную и тестовую по году - тренировочная 2023 / тестовая 2024